/* -----Бевзюк----- */
/* -----Семенюк (Адаптація)----- */




/* -----лого фото на початку----- */
.about_logo_article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.about_logo_image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.about_article_lines {
    background: linear-gradient(90deg, #04112B 0%, #1D4289 50%, #04112B 100%);
    color: black;
    width: 100%;
    justify-content: center;
    display: flex;
}

.about_logo_text {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

/* -----блоки з інформацією----- */
.about_part_1, .about_part_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D4289;

    max-width: 1060px;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
    color: white;
    font-family: Calibri, sans-serif;
    margin: 5px auto;
}

.about_part_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D4289;



    max-width: 1060px;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
    color: white;
    font-family: Calibri, sans-serif;
    margin: 5px auto;
    text-align: center;
}

/* -----тексти до блоків----- */

.about_me_text, .about_authors_text, .about_thank_text {

    text-overflow: ellipsis;

    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 0.8em;
    max-width: 100%;
}

u, u:hover, u:focus, u:active {
    color: white;
}


/* -----текст 1 блоку----- */
#about_me_text li, #about_me_text br {
    font-family: Calibri, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
#about_me_text strong {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}

#about_me_text > h2 {
    text-align: center;
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
}







/* -----вирівнення списків----- */
#about_me_text ul {
    margin-top: 0;
    padding-left: 0; 
    margin-left: 15px; 
    list-style: disc;
}

#about_me_text ul > li {
    margin-left: 0;
}

#about_me_text ul ul {
    padding-left: 15px; 
}

/* -----АДАПТАЦІЯ----- */


@media (min-width: 768px) and (max-width: 1023px) {
    .about_authors_img {
        width: 430px;
        }
    .about_me_img {
        width: 430px;
        }
    .about_thank_img{
        width: 430px;
        
    }

    .about_part_1{
        flex-direction: column; 
        align-items: center;
    }

    .about_part_2{
        flex-direction: column; 
        align-items: center;
    }
    .about_part_3{
        flex-direction: column; 
        align-items: center;
    }
    .about_me_text{
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .about_authors_img {
        width: 310px;

        }
    .about_me_img {
        width: 310px;

        }
    .about_thank_img{
        width: 310px;

        
    }
    .about_part_1{
        flex-direction: column; 
        align-items: center;
    }

    .about_part_2{
        flex-direction: column; 
        align-items: center;
    }
    .about_part_3{
        flex-direction: column; 
        align-items: center;
    }
    .about_me_text{
        margin-bottom: 20px;
        text-align: center;
    }
}

.about_authors_img {
    max-width: 430px;
}

.about_me_img{
    max-width: 430px;
    background-color: #04112B;
    border-radius: 15px;
}

.about_thank_img{
    max-width: 430px;

    border-radius: 15px;
}