/* -----Бевзюк----- */
/*
h2 {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 15px;
}


ul {
    padding-left: 0;
    margin-top: 10px;
    list-style-type: disc; }/* додає стандартні точки списку */
/*
li {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0;
    margin-left: 20px;
    padding-left: 0;
}

li::before {
    content: "•";
    color: #00AEEF;
    font-size: 18px;
    position: absolute;
    left: -20px;
    top: 0;
}
strong {
    font-family: Calibri, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase; 
    line-height: 1.1;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-left: 10px;
    margin-left: 10px;
}

br {
    display: block;
    content: "";
    margin: 0;
    padding: 0;
}
*/

/* -----лого фото на початку----- */
.about_logo_article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.about_logo_image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.about_article_lines {
    background: linear-gradient(90deg, #04112B 0%, #1D4289 50%, #04112B 100%);
    max-width: 100vw;
    height: 60px;
    min-width: 790px;
    padding-top: 10px;
    padding-right: 250px;
    padding-bottom: 10px;
    padding-left: 250px;
    gap: 10px;
}

.about_logo_text {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

/* -----меню має мати другий колір----- */
nav {
    background-color: #04112B;
}

/* -----блоки з інформацією----- */
.about_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D4289;
    width: 100%;
    height: auto;
    min-width: 790px;
    max-width: 1060px;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
    color: white;
    font-family: Calibri, sans-serif;
    margin: 5px auto;
}

/* -----тексти до блоків----- */
.about_me_text, .about_authors_text, .about_thank_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 430px;
    max-width: 570px;
    height: auto;
    min-height: 430px;
    gap: 620px;
}

.about_me_text:h2, .about_authors_text:h2, .about_thank_text:h2 {
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання по центру */
    align-items: center; /* Вертикальне вирівнювання по центру */
    width: 100%;
    min-width: 370px;
    max-width: 570px;
    height: 60px;
    background-color: transparent; /* Якщо потрібен фон, можна змінити */
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase; /* Всі літери великі */
    text-align: center;
}

.about_thank_text {
    font-family: Calibri;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-indent: 10px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
/* -----фото з блоків----- */
#about_me_img, #about_thank_img {
    width: 430px;
    height: 430px;
    min-width: 430px;
    max-width: 430px;
    min-height: 430px;
    max-height: 430px;
    object-fit: contain;
    border-radius: 15px;
    background-color: #04112B;

}

#about_authors_img {
    width: 430px;
    height: 430px;
    min-width: 430px;
    max-height: 430px;
    object-fit: contain;
    border-radius: 15px;
}