/* -----чернявський----- */

/* -----бекграунди----- */
.error_page {
    background-image: url('Images/404.webp');
    background-size: cover; /* Зображення покриває весь екран */
    background-position: center; /* Центрує фон */
}

.map_page {
    background-image: url('Images/site_map.webp'); /* Вказуємо шлях до зображення */
    background-position: center; /* Вирівнювання зображення по центру */
}

.lines_404 {
  background: linear-gradient(
    90deg,
    #1d4289 0%,
    #a9071f 50%,
    #1d4289 100%
  );
  color: black;
  width: 100%;
  justify-content: center;
  display: flex;
}

/* -----назва сторінки----- */

.article_text {
  font-family: Calibri, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

/* -----мапа сайту----- */
.site_map {
  background-color: #1a3872; /* Колір фону */
  padding: 30px; 
  border-radius: 10px;
  margin: 50px auto; /* Вирівнювання по центру */
  width: 50%; /* Ширина блоку */
}

.site_map h2 {
  text-align: center;
  color: #ecf0f1;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.site_map h3 {
  text-align: center;
  color: #ecf0f1;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.site_map p {
  line-height: 1.6;
  color: #ecf0f1;
  text-align: left;
  margin: 0;
}

.site_map p br {
  line-height: 1.6;
}

/* -----новинки----- */
.news_scroll {
  max-width: 1280px;

  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 35px;

  color: white;
  font-family: Calibri, sans-serif;
  



  gap: 20px;



}

.news_item {
  border-radius: 20px;
  text-align: center;
  background-color: #1D4289;

  padding-bottom: 10px;
  min-height: 650px;
  max-width: 620px;
}

.read_more:hover {
  transform: scale(1.05);
}

.news_img {
  width: 95%;

  margin-top: 10px;
  border-radius: 12px;
  margin-bottom: 0;
}
.news_item h3 {
  margin-top: 0.2rem;
}

.read_more {
  font-family: Calibri, sans-serif;
  background-color: #bb4e01;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

.read_more:hover {
  background-color: #ff7300;
}


/* -----команди----- */
.comand_headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}
.comand_headline img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.article_lines {
  background: linear-gradient(90deg,#1D4289 50%, #A9071F 100%);
  color: black;
  width: 100%;
  justify-content: center;
  display: flex;
}


.team_background {
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.team_background img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 15px;
}

.comands {
  width: 100%;
  max-width: 960px;
  margin: 5px auto;
  padding: 3rem 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D4289;
  border-radius: 35px;

  color: white;
  font-family: Calibri, sans-serif;
  min-height: 100vh;
}

.player_comands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
}

.team_member {
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.team_member:hover {
  transform: scale(1.05);
}

.team_member_image {
  width: 100%;
  max-width: 280px;
  border-radius: 12px;
  margin-bottom: 0;
}
.team_member h3 {
  margin-top: 0.2rem;
}

.zayavka_button {
  background-color: #ff7300;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: -20px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.zayavka_button:hover {
  background-color: #ff9100;
}

.videoclip {
  display: flex;
  justify-content: center; /* горизонталь */
  align-items: center;     /* вертикаль */    
}





@media (min-width: 320px) and (max-width: 1023px) {
  .news_scroll{
    flex-direction: row;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .news_item{
    min-height: 100px;
    
  }
}