/* -----контейнер з новинами----- */
.news_scroll {
  max-width: 1280px;

  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 35px;

  color: white;
  font-family: Calibri, sans-serif;

  gap: 20px;
}

/* новина */
.news_item {
  border-radius: 20px;
  text-align: center;
  background-color: #1D4289;
  padding-bottom: 10px;
  padding-bottom: 10px;
  min-height: 650px;
  max-width: 620px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .news_scroll{
    flex-direction: row;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .news_item{
    min-height: 100px;
    
  }
}

.news_img {
  width: 95%;

  margin-top: 10px;
  border-radius: 12px;
  margin-bottom: 0;
}
.news_item h3 {
  margin-top: 0.2rem;
}

/* кнопка */
.read_more {
  font-family: Calibri, sans-serif;
  background-color: #bb4e01;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

.read_more:hover {
  background-color: #ff7300;
  transform: scale(1.05);
}
