
.comands-title-container{
    position: absolute;
    background: linear-gradient(90deg, #1D4289 30%, #EB5933 100%);
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
}

.comands-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 80px;
}

.comand-container {
    background-color: #1D4289;
    color: white;
    border-radius: 20px;
    padding: 15px;

    max-width: 620px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
}

.team-image {
    width: 95%;

    object-fit: cover; 
    border-radius: 20px;
}

.comand-button {
    border-radius: 15px;
    background-color: #D64F49;
    border: none;
    width: 80%;
    text-align: center;
    padding: 10px;
}

.comand-button > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
}


@media (min-width: 320px) and (max-width: 767px) {
    .comands-title-container{
        font-size: 10px;
    }
    .comand-container{
        width: 320px;
    }
    .comands-list{
        flex-wrap: wrap;
   }

}

@media (min-width: 768px) and (max-width: 1440px) {
   .comands-list{
        flex-wrap: wrap;
   }
}