.title-news {
        color: white;
        text-align: center;
        background: linear-gradient(to right, #1D4289, red);
        padding-top: 1px;
        padding-bottom: 1px;
}

.title-news h3 {
    font-size: 150%;
}

.news-container {
  border-radius: 20px;
  background-color: #1D4289;
  padding-bottom: 15px;
  max-height: 1300px;
  max-width: 1000px;
  margin-top: 10px;
}

.news-container p {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.news_author, 
.news_title,
.news_date {
    color: white;
}

.news_date {
    margin-left: 400px;
    font-weight: 200;
}

.news_img {
    width: 950px;
    padding-top: 50px;
}

.back_to_feed {
  margin-right: auto;
  margin-left: 25px;
  background-color: #bb4e01;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: -48px;
  padding: 0.3rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back_to_feed:hover {
    background-color: #ff7300;
}

