@media (min-width: 320px) and (max-width: 767px) {
    .nav-list{
        display: none;
    }
    .nav-item{
        display: none;
    }


    .nav-settings-container{
          display: none;
    }
    .nav-letters-mode{
             display: none;
    }
    .nav-theme{
             display: none;
    }

    .stats {
        flex-wrap: wrap;  
        justify-content: space-around; 

    }

    .stats-li {
        width: 45%; 
    }

    
 }

@media (min-width: 768px) and (max-width: 1023px) {
   .nav-settings-container{
         display: none;
   }

   .nav-theme{
            display: none;
   }
   .nav-letters-mode{
            display: none;
   }

   .modal-nav-item{
            display: none;
   }
   .modal-nav-theme{
            display: block;
            margin: 0 auto;
   }
   .stats-li {
    width: auto;
}

}

@media (min-width: 1024px){
    #burger-icon{
        display: none;
    }

    .nav-letters-mode{
        display: flex;
        align-items: center;
        justify-content: center;
    }

 }



body {
    margin: 0;
    background-color: #04112B;
}

/* -----ФУТЕР----- */
footer {
    background-color: #04112B;
    color: #ffffff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.footer-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-section1, .footer-section2, .footer-section3, .footer-section4 {
    flex: 1;
    min-width: 256px;
    margin: 7px;
}

.footer-logo {
    width: 185px;
    height: auto;
}

.footer-section1 p {
    font-size: 18px;
    font-weight: bold;
}

.footer-section2 h3, .footer-section3 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.footer-section2 ul, 
.footer-section3 ul {
    list-style: none;
    padding: 0;
}

.footer-section2 ul li, 
.footer-section3 ul li {
    text-align: center;
    margin: 5px 0;
}

.footer-section2 ul li a, 
.footer-section3 ul li a {
    color: #bbbbbb;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section2,
.footer-section3 {
    background-color: #1D4289;
}

.footer-section2 ul li a:hover, 
.footer-section3 ul li a:hover {
    color: #ffffff;
     text-decoration: underline;
}

.footer-section4 p {
    margin: 5px 0;
}

.footer-section4 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-section4 a:hover {
    text-decoration: underline;
}

.footer-section4 h3 {
    text-align: center;
}

.discord-button {
    display: flex;
    align-items: center;
    background-color: #1D4289;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    width: fit-content;
}

.discord-button img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#copywrite {
    text-align: center;
    margin-bottom: -20px;
    padding: 15px;
    margin-top: -30px;
    background-color: #1D4289;
    font-size: 15px;
}

#copywrite a {
    color: #bbb;
    text-decoration: none;
}

#copywrite a:hover {
    color: white;
     text-decoration: underline;
}

/* -----НАВБАР----- */

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #04112B;
}

.nav-list button {
      border-radius: 15px;
}

.nav-list a,
.nav-settings-container button {
    font-weight: 600;
}




.nav-letters-mode {
    gap: 8px;
    background-color: #1D4289;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
    padding: 10px 20px;
    text-align: center;
}


.nav-letters-mode:hover {
    background-color: #031c4f;
}

nav button {
    background-color: #333;
    color: white;
    border-radius: 15px;
    border: none;
    height: 50px;
    padding: 0 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



nav button a {
    text-decoration: none;
    color: white;
}

.nav-theme {
    background-color: #1D4289;
    height: 50px;
    max-width: 155px;
    margin-left: 130px;
}

.nav-theme:hover {
    background-color: #031c4f;
}

.nav2_r:hover {
    background-color: #555;
}

.nav2_l {
    background-color: #333;
}

.nav2_l:hover {
    background-color: #555;
}

.nav-button {
    background-color: #1D4289;
    width: 120px;
    height: 50px;
    border-radius: 15px;
}

.nav-button:hover {
    background-color: #031c4f;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav2_c:hover {
    background-color: #555;
}


.title-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #1D4289;
    color: white;
}

.nav-logo {
    height: 80px;
    width: 220px;
}

.nav-logo-kgs{
    width: 80px;
    height: 80px;
}

.nav-logo-container{
    display: flex;
    margin-left: 45px;
    margin-top: 5px;
}

.nav-container-main{
    display: flex;
    flex-direction: column;
}

.nav-settings-container{
    display: flex;
    flex-direction: column;
}


/* -----БУРГЕР МЕНЮ----- */
  .burger-icon {
    display: block;
    background-color: none;
    font-size: 28px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 10;
  }
  .burger-icon:hover{
    background-color: none;
  }
  

.modal {
    position: fixed;
    top: 0;
    right: -115%;
    width: 100%;
    height: 100%;
    background-color: #04112B;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    z-index: 1000;
}

.modal.active {
    right: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal-nav-container {
    display: flex;
    flex-direction: column;
}

.modal-nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-nav-list li {
    margin: 0;
}

.nav-button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.modal-nav-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-top: 20px;
}


.nav-button {
    background-color: #1D4289;
    width: 125px;
    height: 50px;
    border-radius: 10px;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
    margin-top: 35px;
}

.burger-icon span {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
}
 
.modal-nav-theme{
    background-color: #1D4289;
    height: 50px;
    max-width: 155px;
}

.modal-nav-letters-mode{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #1D4289;
    border: none;
    color: white;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}


/* -----НОВИНА----- */
.news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;

}

.news-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.news-title-container{
    position: absolute;
    background-color: rgba(4, 17, 43, 0.7);
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;

}



.news-text-container-second{
    margin-top: -70px;
    background-color: rgba(4, 17, 43, 0.7);
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
}

/* -----СТАТИСТИКА----- */

.stats-section {
    background-color: #04112BB2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .stats {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Osvlad', sans-serif;
  }
  

  
  .stats-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .stats .label {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
  
  .stats .value {
    font-size: 24px;
    font-weight: bold;
    margin-top: auto;
    padding: 5px 10px;
  }
  

/* -----КОМАНДИ----- */
.comands-title{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #1D4289;
    color: white;
}

.index_comands{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
}

.command-container{
    max-width: 345px;
    max-height: 345px;
    border-radius: 10px;
    display: flex;
}

.command-background-image{
    width: 100%;
    height: 100%;
}

.command-button{
    background-color: #BB4E01;
    color: white;
    border-radius: 10px;
    height: 50px;
    padding: 10px 40px;

    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-wrap: nowrap;
}

.game-logo{
    width: 120px;
    height: 120px;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position:   relative;
    right: 240px;
}

.link-command{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;

    cursor: pointer;
}

#copywrite a {
    font-weight: 300;
}

.footer-section2 a,
.footer-section3 a,
.footer-section4 a, p {
    font-weight: 300;
}

@media (min-width: 850px) and (max-width: 1120px) {
    .footer-section1, .footer-section2, .footer-section3, .footer-section4 {

        min-width: 180px;

    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .footer-section1, .footer-section2, .footer-section3, .footer-section4 {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .command-container{
        margin-left: -30px;
    }


        .nav-logo-container{
        margin: 0 auto;
    }

}