/* -----Бевзюк----- */

/* -----ПРО ТУРНІР (опис в порядку контенту)----- */

/* блок */
.tournaments_dota2_2024_about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1060px;
    min-width: 430px;
    max-height: 700px;
    height: auto;
    padding: 20px;
    background-color: #1D4289;
    border-radius: 35px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
}

/* -----кнопка повернення----- */
.tournaments_back {
    width: 60px;
    height: 37.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: #BB4E01;
    margin: -15px 0 -5px 30px;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

a.tournaments_back > img {
    width: 37.5px;
    height: 37.5px;
    margin-left: 11.25px;
}

.tournaments_back:hover {
    background-color: #04112B;
}


/* фото */
.tournaments_dota2_2024_about img {
    width: 1020px;
    height: 270px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


/* -----текст----- */



.tournaments_2024_dota2_about_text_h2 {
    display: flex;
    align-items: center;       /* вертикальне вирівнювання */
    justify-content: center;   /* горизонтальне вирівнювання */
    height: 20px;              /* або інша висота для вирівнювання по вертикалі */
    width: 100%;               /* зайняти всю ширину батьківського елемента */
    margin: 0 auto 10px auto;
}

.tournaments_2024_dota2_about_text_h2 > b {
    font-family: 'Calibri', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    color: white;
    text-align: center;
    width: 100%;              /* забезпечити, щоб текст зайняв всю ширину */
}




.tournaments_dota2_2024_text h3 {
    font-family: 'Calibri', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    font-variant: small-caps;
    letter-spacing: 0;
    text-indent: 10px;
    text-transform: lowercase; /* Сумісно зі small-caps */
    margin: 0 0 10px 0; /* За потреби відступи між заголовками */
    color: white; /* Або інший відповідний колір */
}

.tournaments_dota2_2024_text  :not(h2):not(h3) {
    font-family: 'Calibri', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-transform: lowercase; /* Спочатку lowercase, потім перетворимо на small-caps */
    font-variant: small-caps;
    letter-spacing: 0;
    text-indent: 10px;
    color: white; /* Якщо фон темний — для контрасту */
}




/* -----кнопки в кінці----- */
.tournaments_dota2_2024_button_text {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin: auto;
}


.tournaments_dota2_2024_button_text a {
    text-decoration: none;
    color: #ffffff;
}


.tournaments_2024_dota2_order {
    width: 350px;
    height: 50px;
    min-width: 320px;
    max-width: 350px;
    border-radius: 15px;
    padding: 16px;
    background-color: #BB4E01; /* Колір фону */
    color: white; /* Колір тексту */
    text-align: center; /* Центрування тексту */
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    text-decoration: none; /* Видаляємо підкреслення */
    transition: background-color 0.3s ease;
}

.tournaments_2024_dota2_end {
    width: 350px;             /* Фіксована ширина 350px */
    height: 50px;             /* Фіксована висота 50px */
    min-width: 350px;         /* Мінімальна ширина 350px */
    max-width: 350px;         /* Максимальна ширина 350px */
    border-radius: 15px;      /* Закруглені кути */
    padding: 16px;            /* Відступи всередині кнопки */
    gap: 10px;                /* Проміжок між елементами всередині кнопки (якщо є) */
    display: flex;            /* Використовуємо flex для розташування вмісту */
    align-items: center;      /* Вирівнювання по вертикалі */
    font-weight: 700;
    font-size: 16px;
    justify-content: center;  /* Вирівнювання по горизонталі */
    text-align: center;       /* Центрування тексту всередині кнопки */
    background-color: #BB4E01; /* Колір фону кнопки (як приклад) */
    color: white;             /* Колір тексту на кнопці */
    cursor: pointer;         /* Курсор при наведенні */
    text-decoration: none;    /* Відключення підкреслення у посиланні */
}



.tournaments_2024_dota2_end:hover, .tournaments_2024_dota2_order:hover {
    background-color: #1D4289; /* Зміна кольору фону при наведенні */
    text-decoration: underline;
}





























/* -----ТУРНІРНА СІТКА----- */

/* блок */
.tournaments_dota2_2024_map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1D4289;
    width: 100%;
    max-width: 1060px;
    min-width: 430px;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
    color: white;
    font-family: Calibri, sans-serif;
    margin: 5px auto;
    text-align: center;
    box-sizing: border-box;
}

/* заголовок */
.tournaments_dota2_2024_map h2 {
    font-family: 'Calibri', sans-serif;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 0;
}

/* картинка (мапа турніру) */
.tournaments_dota2_2024_map img {
    width: 1020px;
    height: 828px;
    border-radius: 15px;
    object-fit: cover;
}

/* кнопка */
.tournaments_2024_dota2_map_source {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 50px;
    background-color: #BB4E01;
    border: none;
    border-radius: 15px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    animation: none;
    transition: background-color 0.3s ease-in-out;
}
.tournaments_2024_dota2_map_source:hover {
    background-color: #1D4289;
}

.tournaments_2024_dota2_map_source a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tournaments_2024_dota2_map_source:hover a {
    text-decoration: underline;
}


/* -----ПРИЗОВИЙ ФОНД----- */

/* блок */
.tournaments_dota2_2024_prize_section {
    width: 100%;
    max-width: 1060px;
    min-width: 790px;
    height: fit-content;
    background-color: #1D4289;
    border-radius: 35px;
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* заголовок */
.tournaments_dota2_2024_prize_section h2 {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0; 
    height: 100%; 
}

/* блок в якому знаходяться призи */
.tournaments_dota2_2024_prize_row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
}

/* блоки призів */
.tournaments_dota2_2024_prize_left,
.tournaments_dota2_2024_prize_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* малюнки */
.tournaments_dota2_2024_prize_left img,
.tournaments_dota2_2024_prize_right img {
    width: 430px;
    height: 430px;
    min-width: 430px;
    max-width: 430px;
    min-height: 430px;
    max-height: 430px;
    border-radius: 15px;
    object-fit: contain;
    background-color: #04112B;
}

/* надписи малюнків */
.tournaments_dota2_2024_prize_left p,
.tournaments_dota2_2024_prize_right p {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-indent: 10px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}